<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <title>{{ fullName }}</title>
    </head>
    <body>
        <h1>{{ fullName }}</h1>
        <p>Handle: {{ handle }} </p>
        <p>Headshot: <img src="{{ headShot }}"/></p>
        <p>Twitter: <a href="https://twitter.com/{{ twitter }}">Link</a></p>
        <p>Instagram: {{ instagram }}</p>
        <p>Spotify: {{ spotify }}</p>
        <p>Website: {{ website }}</p>

        {{ content }}
    </body>
</html>