<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>ShortTitle: {{ shortTitle }}</p>
        <p>Description: {{ description }}</p>
        <p>Authord By: {{ authoredBy }}</p>
        <p>Published Date: {{ date }}</p>
        <p>Main Image: <img src="{{ thumbnail }}"/></p>
        {{ content }}
    </body>
</html>